{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About</title>
    <nav>
        <a href="/home">Home</a>
        <a href="/finches">All Finches</a>
    </nav>
</head>
<body>
    <h3>About Finchcollector</h3>
    <main class="container">
        {% block content %}
        {% endblock %}
      </main>
    <div class="container">
    <article>
        <p>
            Finches are classified as a small to medium-sized bird, Finches have stout conical bills adapted for eating seeds and nuts and often have colourful plumage.
            They occupy a great range of habitats where they are usually resident and do not migrate. They have a worldwide distribution except for Australia and the polar regions. The family Fringillidae contains more than two hundred species divided into fifty genera. It includes species known as siskins, canaries, redpolls, serins, grosbeaks and euphonias.

            Many birds in other families are also commonly called "finches".
            These groups include the estrildid finches (Estrildidae) of the Old World tropics and Australia; some members of the Old World bunting family (Emberizidae) and the New World sparrow family (Passerellidae); and the Darwin's finches of the Galapagos islands, now considered members of the tanager family (Thraupidae).
            
            Finches and canaries were used in the UK, US and Canada in the coal mining industry to detect carbon monoxide from the eighteenth to twentieth century.
        </p>
    </article>
    <h5>Additional Information &nbsp; <a href="https://en.wikipedia.org/wiki/Finch"> Finch Wiki</a> </h5>

    </div>
</body>
</html>